$default: #f1edee;
$primary: #0d758e; // #3D5467;
$accent: #fab01c; //#EFCFE3;
$secondary: #1597bb; //#1597BB ;

$default-night-mode: #f1edee;
$primary-night-mode: #c8cdce; // #3D5467;
$accent-night-mode: #bb7d00; //#EFCFE3;
$secondary-night-mode: rgb(21, 151, 187); //#1597BB ;

// default colors
$white: #fff;
$gray: #39444f;
$black: #1c282c;
$input-color: #686f7a;
// status
$success: #7cd992;
$info: #5382a1;
$danger: #eb6060;
$warning: #e07b3e;
$disabled: #a8a8a8;

// night-mode

$primary-darkmode: #38454d;
$secondary-darkmode: #43515c;
$primary-light-darkmode: #38454d;

// TODO DELETE
$primaryLight: #ed2a26;
$light-white: #efefef;
$blue: #0d6efd;

$darkBlack: #333;
$darkBlack2: #000;

$light-gray: #828a91;
$darkGray: #686f7a;
$gold: #ffddd0;
// $info: #fa8305;
$yellow: #f2b01e;

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedIn: #8d6cab;
$youtube: red;
$google: #dd4b39;
$green: #0d5d4b;
$light-green: #5ae7c7;
$mint-green: #d1ecf1;

$danger-light: #f8d7da;
$danger-medium: #f5c6cb;
