.info {
  padding: 5px 0px;
  display: flex;
  .info__details {
    margin-right: 16px;
    display: contents;
    .details__name {
      color: $darkBlack;
      padding-left: 5px;
    }
    .details__data {
      color: $darkGray;
      padding-left: 5px;
    }
  }
}
