.media-card {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $light-white;
  box-shadow: 0px 0px 1px #ddd;
  margin-bottom: 20px;
  position: relative;
  .media-card__image {
    height: 150px;
    position: relative;
    img {
      background: #f9f9f9;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover .more-dropdown--absolute {
      display: block;
    }
    .media-card__action{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .media-card__caption {
    padding: 10px;
  }
  &.media-card--cover {
    height: auto;
    .media-card__image {
      height: 450px;
    }
  }
  &.media-card--height {
    .media-card__image {
      height: 350px;
    }
  }
  .media-card__description {
    font-weight: 500;
    color: inherit;
    p {
      font-size: 12px;
      font-weight: 600;
      padding: 0.7em 1.3333333333333333em;
      line-height: 20px;
    }
  }
}
// update Media
.update-media {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $light-white;
  box-shadow: 0px 0px 1px #ddd;
  margin-bottom: 20px;
  padding: 20px;
}
