.toolbar{
  background: #FFF;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 7px 0px;
  button{
    i{
      font-size: 14px;
    }
  } 
  &.toolbar--horizontal{
    flex-direction: row;
  }
}
.night-mode{
  .toolbar{
    background: #576874;
    button{
      i{
        color: #FFF;
      }
    }
  }
}