.header__top-category
  .top-category--menu-dropdown
    .menu-dropdown--item.dropdown.simple.dropdown.item.ui
      a.option_links.item--option_links.p-0.option_links(href='#' title='categories')
        i.fas.fa-border-all.fab
      .menu.dropdown_category5.list--menu
        a.menu--item(href='#') Development
        a.menu--item(href='#') Business
        a.menu--item(href='#') Finance &amp; Accounting
        a.menu--item(href='#') IT &amp; Software
        a.menu--item(href='#') Office Productivity
        a.menu--item(href='#') Personal Development
        a.menu--item(href='#') Design
        a.menu--item(href='#') Photography 