extends ../layouts/admin.pug
block title
	title Admin course chapter


block content


	.container-fluid
		.row
			.col-lg-12
				.d-flex.justify-content-between.align-items-center
					h3.bold.title-h3 Recomendations
