extends ../layouts/admin.pug
block title
	title collections


block content
	// page title bread-crumbs
	include ../components/bread-crumbs.pug
	+pageTitle("page-header--with-block")
		.tabs.tabs--center.mb-0.mt-3
			a(class="tab tab--active" href='#nav-recommendation') recommendation
			a(class="tab" href='#nav-classification') classification
	.container
		.row
			.col-lg-12
				.tabs-panels
					#nav-recommendation.tab-panel.tab-panel--active
						div(class='recommendations-list' data-listing-url="http://localhost:3000/recommendations/" data-create-url="http://localhost:3000/recommendations/" data-edit-url="http://localhost:3000/recommendations/")
						//tab 1
					#nav-classification.tab-panel
						div(id="recommendations")
						p lor2
						//tab 2

	//- .card.card--data.flex-column
