extends ../layouts/master.pug

block title
	title create course
block content
	section.create-course
		.container 
			.row 
				.col-lg-12 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ipsam illum alias esse soluta architecto aliquid ad error, sed numquam qui assumenda natus. Doloribus sapiente, ex modi praesentium soluta saepe.