extends ../layouts/layout-darkMode.pug

block title
	title video-player
block content
	.page-content.page-content--video-player
		include ../components/sidebar-dark.pug
		+sidebar-dark
			include ../components/video-item-loader.pug
		.loader-wrapper.loader-wrapper--fill
			.loader
		//- .video-player 
			iframe(src="https://www.youtube.com/embed/tgbNymZ7vqY")
