extends ../layouts/master.pug

block title
   title typo
block menu-header
  include ../components/menu-list.pug

block content
  .p-2
    h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p
      | Bluetooth works in most situations, regardless of what phone you use. Earbuds pair, watches still pass some data,
      | but some devices just don&rsquo;t play as nicely. For example, I have a smart in-window air conditioner. While still
      | on Android, I had no issues pairing, updating, or controlling it, it just works. When I switched to iOS, I was going
      | through and pair all my smart devices, this air conditioner though it supports HomeKit has issues. Frequent
      | communication drops, updating just doesn&rsquo;t work, and while the control scheme is much nicer in the Home app on
      | iPhone, the communication drops make it impractical. This is an isolated issue, 90% of my devices paired up with no
      | issues, but a few just handle things differently.

    p
      | Bluetooth works in most situations, regardless of what phone you use. Earbuds pair, watches still pass some data,
      | but some devices just don&rsquo;t play as nicely. For example, I have a smart in-window air conditioner. While still
      | on Android, I had no issues pairing, updating, or controlling it, it just works. When I switched to iOS, I was going
      | through and pair all my smart devices, this air conditioner though it supports HomeKit has issues. Frequent
      | communication drops, updating just doesn&rsquo;t work, and while the control scheme is much nicer in the Home app on
      | iPhone, the communication drops make it impractical. This is an isolated issue, 90% of my devices paired up with no
      | issues, but a few just handle things differently.

    p.body-2
      | Bluetooth works in most situations, regardless of what phone you use. Earbuds pair, watches still pass some data,
      | but some devices just don&rsquo;t play as nicely. For example, I have a smart in-window air conditioner. While still
      | on Android, I had no issues pairing, updating, or controlling it, it just works. When I switched to iOS, I was going
      | through and pair all my smart devices, this air conditioner though it supports HomeKit has issues. Frequent
      | communication drops, updating just doesn&rsquo;t work, and while the control scheme is much nicer in the Home app on
      | iPhone, the communication drops make it impractical. This is an isolated issue, 90% of my devices paired up with no
      | issues, but a few just handle things differently.
    p.subtitle-1 Lorem ipsum dolor sit.
    p.subtitle-2 Lorem ipsum dolor sit.
  .p-2
    .container
      .row
        .col-lg-12.py-2
          h1.title-h1.gray TITLES
        .col-lg-12.py-1
          h1.title-h1.primary This is title
        .col-lg-12.py-1
          h2.title-h2 This is title
        .col-lg-12.py-1
          h3.title-h3 This is title
        .col-lg-12.py-1
          h4.title-h4 This is title
        .col-lg-12.py-1
          h5.title-h5 This is title
        .col-lg-12.py-1
          h6.title-h6 This is title
        .col-lg-12.py-1
          p.text-1 text-1
        .col-lg-12.py-1
          p.text-2 text-2
        .col-lg-12.py-1
          p.text-3 text-3
