/* src/assets/styles/components/_footer.scss  */
.footer {
  // margin-top: 30px;
  background: darken($secondary, 5%);
  width: 100%;
  padding-top: 50px;
  position: relative;
  // margin-top: auto;
  &.footer--size{
    padding-top: 50px 70px;
  }
  .footer__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3;
  }

  .footer__footer-content {
    a.footer-content__link {
      font-size: 14px;
      font-weight: 400;
      display: block;
      padding-bottom: 10px;
      color: $white;
      padding-right: 20px;

      &:hover {
        color: $light-white;
      }
      &.footer-content--admin{
        display: inline-block;
      } 
    }
    
  }

  .footer__footer-buttons {
    display: flex;
    flex-direction: column;
    .footer-buttons__link {
      height: 40px;
      padding: 10px 15px;
      border: 0;
      border-radius: 20px;
      text-align: center;
      color: #fff;
      background: $primary;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;

      &:hover {
        color: #fff !important;
        background: $accent;
      }
    }

    .footer-buttons__btn-language {
      margin-top: 20px;

      .btn-language__link {
        height: 40px;
        padding: 10px 15px;
        border: 1px solid $white;
        border-radius: 20px;
        color: $white;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;

        &:hover {
          color: $white !important;
        }
      }
    }
  }

  &.footer--auth {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    padding: 50px 0;
    display: block;
    float: left;
    width: 100%;
    background: transparent;
    margin: 0;
  }
  &.footer--admin{
    position: relative;
    // margin-left: 60px;
    bottom: 0;
    // margin-top: auto;
    // position: fixed;
    // width: 96%;
  }
}
@media(max-width: 992px){
  .footer{
    &.footer--admin{
      margin-left: 0px;
      width: 100%;
    }
  }
}
// .footer_bottm
.footer-line {
  margin-top: 50px;
  padding: 10px 0;
  border-top: 1px solid $accent;
  @media (max-width: 560px) {
    margin-top: 30px;
  }
}
.fritill{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .fritill-logo{
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }
  @media(max-width: 768px){
    justify-content: center;
  }
  @media(max-width: 370px){
    .list__paragraph{
      font-size: 13px;
    }
  }
}

// .fotb_left
.copy-right {
  margin-top: 0px;
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy-right__list {
    display: inline-block;
    vertical-align: middle;
  }
  a.list__link {
    .footer-logo {
      img {
        width: 30px;
        margin-right: 20px;
        line-height: 24px;
        padding-top: 10px;
      }
    }
  }

  p.list__paragraph {
    font-size: 14px;
    font-weight: 400;
    color: #f7f7f7;
    text-align: left;
    line-height: 24px;
    margin: 0;
    @media(max-width: 370px){
      font-size: 13px;
    }
    strong {
      font-weight: bold;
    }
  }
  
}


.social-links {
  text-align: right;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  .social-links__link {
    // padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    display: inline-block;
    color: #f7f7f7;
    transition: all 0.2s ease-in-out;
    margin: 0;

    &:hover {
      color: #fff !important;
      transform: scale(1.1);
    }
  }
}

/*
  Responsive
*/


@media (max-width: 768px) {
  .social-links {
    justify-content: center;
  }
}

html[dir="rtl"] {
  .footer {
    padding-top: 50px;
    .footer__footer-content {
      a.footer-content__link {
        padding-left: 20px;
      }
    }

    .footer__footer-buttons {
      .footer-buttons__link {
        padding: 10px 15px;
      }

      .footer-buttons__btn-language {
        margin-top: 20px;

        a {
          padding: 10px 15px;
        }
      }
    }

    &.footer--auth {
      padding: 50px 0;
    }
    &.footer--admin{
      margin-right: 0;
    }
  }

  .footer-line {
    margin-top: 50px;
    padding: 10px 0;
  }

  .copy-right {
    .copy-right__list {
      display: inline-block;
      vertical-align: middle;

      a.list__link {
        .footer-logo {
          img {
            margin-left: 20px;
          }
        }
      }
    }
  }


  .social-links {
    text-align: left;

    .social-links__link {
      padding-top: 10px;
    }
  }


  @media (min-width: 0px) and (max-width: 768px) {
    .social-links {
      text-align: right !important;
      margin-top: 10px;
      margin-right: 20px;
    }
  }
}

//footer Admin
// .footer-admin {
//   margin-top: 30px;
//   width: 100%;
//   padding: 0;
//   float: left;
//   bottom: 0;
//   z-index: 10;
//   background: darken($secondary, 5%);
//   width: 100%;
//   position: relative;
//   .footer-admin__background{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     opacity: .3;
//   }
//   .footer-admin__admin-content {
//     display: flex;
//     padding-top: 30px;
//     @media (max-width: 560px) {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       padding-left: 40px;
//     }

//     .admin-content__link {
//       font-size: 14px;
//       font-weight: 400;
//       display: block;
//       padding-bottom: 10px;
//       color: $white;
//       padding-right: 20px;

//       &:hover {
//         color: $white;
//       }
//     }
//   }

//   .footer-admin__admin-line {
//     margin-top: 20px;
//     padding: 20px 0;
//     border-top: 1px solid $accent;
//     @media (max-width: 560px) {
//       margin-top: 30px;
//     }
//   }
// }
// .admin-copyRight {
//   margin-top: 0px;
//   @media (max-width: 560px) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .admin-copyRight__list {
//     display: inline-block;
//     vertical-align: middle;

//     .list__link {
//       .link__logo {
//         img {
//           width: 30px;
//           margin-right: 20px;
//           line-height: 24px;
//         }
//       }
//     }
//     p.list__paragraph {
//       font-size: 14px;
//       font-weight: 400;
//       color: #f7f7f7;
//       text-align: left;
//       line-height: 24px;
  
//       strong {
//         font-weight: bold;
//       }
//     }
//   }
// }
// .admin-socialMedia {
//   // text-align: right;
//   // margin-left: -10px;
//   text-align: right;
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: flex-end;
//   .admin-socialMedia__links {
//     padding-left: 15px;
//     font-size: 16px;
//     display: inline-block;
//     color: $light-white;
//     transition: all 0.2s ease-in-out;
//     margin: 0;
//     &:hover {
//       color: #fff !important;
//       transform: scale(1.1);
//     }
//   }
// }
// @media (max-width: 768px) {
//   .admin-socialMedia {
//     justify-content: center;
//   }
// }

// html[dir="rtl"] {
//   .footer-admin {
//     float: right;

//     .footer-admin__admin-content {
//       .admin-content__link {
//         padding-left: 20px;
//       }
//     }

//     .footer-admin__admin-line {
//       padding: 20px 0;
//     }

//     .admin-copyRight {
//       float: right;

//       .admin-copyRight__list {
//         .list__link {
//           .link__logo {
//             img {
//               margin-left: 20px;
//             }
//           }
//         }
//       }
//     }

//     .admin-socialMedia {
//       margin-left: 0px;
//       text-align: left;

//       // .admin-socialMedia__links {
//       //   padding-top: 10px;
//       // }
//     }
//   }

//   @media (min-width: 0px) and (max-width: 768px) {
//     .social-links {
//       text-align: right !important;
//       margin-top: 10px;
//       margin-right: 20px;
//     }
//   }
// }
