extends ./layouts/master.pug

block title
	title My Page - Home
block button-collapsed
	button(class="toggle-menu toggle-menu--mobile toggle" id="toggleMenu" type='button')
		i.fas.fa-bars.toggle__icon
block menu-header
	include ./components/menu-list.pug
block my-courses
	li
		a.white.body-2.notification__item(href='#')
			|My Courses
block content
	//- .container
	//- 	.row
	//- 		.col-xl-9.col-lg-9
	//- 			.container
	//- 				.row
	//- 					.col-12.d-flex
	//- 						button(class="btn btn--icon btn--primary count-down")
	//- 							i.fa.fa-minus
	//- 						input(type="number" class="countable" value="0")
	//- 						button(class="btn btn--icon btn--primary count-up")
	//- 							i.fa.fa-plus
		// Menu
		//- +menu('home')
			//- Desktop page
	.hero
		img(class="hero__bg" src="./assets/images/hero_bg.jpg", alt="")
		//- img(class="hero__avatar" src="./assets/images/hero_shape.png", alt="")
		.hero-content
			.container 
				.row 
					.col-lg-6
						h1.title-h1.white hello from itqadem
						p.body-1.white Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus libero perferendis similique molestiae totam! Velit quasi consequuntur sint, dolorem eaque, alias iusto commodi dolor quia expedita enim ratione et earum!

	.container
		.row
			.col-12 
				.section-index.doners
					h2.title-h2 Doners
					.owl-carousel.live_stream.owl-theme
						.item
							.card.card--centered.card--transparent
								.card__content
									.user-image
										img(src="../../assets/images/nbe.jpg" alt="")
						.item
							.card.card--centered.card--transparent
								.card__content
									.user-image
										img(src="../../assets/images/nbe.jpg" alt="")
						.item
							.card.card--centered.card--transparent
								.card__content
									.user-image
										img(src="../../assets/images/nbe.jpg" alt="")
						.item
							.card.card--centered.card--transparent
								.card__content
									.user-image
										img(src="../../assets/images/nbe.jpg" alt="")
						.item
							.card.card--centered.card--transparent
								.card__content
									.user-image
										img(src="../../assets/images/nbe.jpg" alt="")
						.item
							.card.card--centered.card--transparent
								.card__content
									.user-image
										img(src="../../assets/images/nbe.jpg" alt="")
			.col-xl-9.col-lg-9
				section.section-index.section-index--pt
					.d-flex.flex-column
						.d-flex.justify-content-between.align-items-center.w-100
							h3.title-h3 Live Streams
					//- h4.item_title Live Streams
					//- a.see150(href='live_streams.html') See all
					.section-index
						.owl-carousel.live_stream.owl-theme
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
							.item
								.card.card--centered.card--live-section
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold.my-0.white(href="#") Jose Portilla
													p.text-3.white
														span
														| Live
				section.section-index.section-index--pt.pt-0
					.d-flex.flex-column
						.d-flex.justify-content-between.align-items-center.w-100
							h3.title-h6.title-h6--bolder.semi-bold Newest Courses
							a(href="#").text-3--bolder.gray See all
					.section-index
						block content
							include ./components/course-wrapper.pug
								block category-header
								block content
									.row
										.col-sm-12.col-md-6.col-lg-4
											div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id": "S7YqVez2sUw","title": "Complete Python Bootcamp1","url":"/course.html","category": "Web Development | Python","subscribers": "1 subscriber","total_rate": 4.5,"is_favorite":true,"duration": "4 minutes","actions": {"action": "enroll","url": "#"}}')
										.col-sm-12.col-md-6.col-lg-4
											div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id": "S7YqVez2sUw","title": "Complete Python Bootcamp1","url":"/course.html","category": "Web Development | Python","subscribers": "1 subscriber","total_rate": 4.5,"is_favorite":true,"duration": "4 minutes","actions": {"action": "enroll","url": "#"}}')
										.col-sm-12.col-md-6.col-lg-4
											div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id": "S7YqVez2sUw","title": "Complete Python Bootcamp1","url":"/course.html","category": "Web Development | Python","subscribers": "1 subscriber","total_rate": 4.5,"is_favorite":true,"duration": "4 minutes","actions": {"action": "enroll","url": "#"}}')
										.col-sm-12.col-md-6.col-lg-4
											div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id": "S7YqVez2sUw","title": "Complete Python Bootcamp1","url":"/course.html","category": "Web Development | Python","subscribers": "1 subscriber","total_rate": 4.5,"is_favorite":true,"duration": "4 minutes","actions": {"action": "enroll","url": "#"}}')
										.col-sm-12.col-md-6.col-lg-4
											div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id": "S7YqVez2sUw","title": "Complete Python Bootcamp1","url":"/course.html","category": "Web Development | Python","subscribers": "1 subscriber","total_rate": 4.5,"is_favorite":true,"duration": "4 minutes","actions": {"action": "enroll","url": "#"}}')
										.col-sm-12.col-md-6.col-lg-4
											div(class="course-card-container" data-count="1" data-data='{"id":1,"cover":"../../assets/images/get_img.jpg","video_id": "S7YqVez2sUw","title": "Complete Python Bootcamp1","url":"/course.html","category": "Web Development | Python","subscribers": "1 subscriber","total_rate": 4.5,"is_favorite":true,"duration": "4 minutes","actions": {"action": "enroll","url": "#"}}')


									//- .owl-carousel.featured_courses.owl-theme
										.item
											div(class="course-card-container" data-data='{"video_id": "S7YqVez2sUw","title": "Complete Python Bootcamp: Go from zero to hero in Python 3","category": "Web Development | Python","subscribers": "1 subscriber","total_rate": 4.5,"duration": "4 minutes","created_at": "Ronaldo","action": {"text": "enroll","link": "#"}}')
											//- +course-card
										.item
											include ./components/course-card.pug
											+course-card
										.item
											+course-card
										.item
											+course-card
										.item
											+course-card
										.item
											+course-card
										.item
											+course-card
					//- h4.item_title Newest Courses
					//- a.see150(href='#') See all
					//- .la5lo1
					//- 	.owl-carousel.featured_courses.owl-theme
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-14.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 12 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 15 views
					//- 						span.vdt14 10 min ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Build Responsive Real World Websites with
					//- 						| HTML5 and CSS3
					//- 					a.crse-cate(href='#') Development | CSS
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') John Doe
					//- 						.prce142 $4
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-11.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 28 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 5 views
					//- 						span.vdt14 15 Min ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| The Complete JavaScript Course 2020: Build
					//- 						| Real Projects!
					//- 					a.crse-cate(href='#') Development | JavaScript
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Jassica William
					//- 						.prce142 $5
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-18.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 15 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 25 views
					//- 						span.vdt14 2 Hour ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| The Complete Front-End Web Development
					//- 						| Course!
					//- 					a.crse-cate(href='#') Development | Web Development
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Joginder Singh
					//- 						.prce142 $9
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-19.jpg' alt='')
					//- 					.course-overlay
					//- 						.crse_reviews
					//- 							i.uil.uil-star
					//- 							| 5.0
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 1 hour
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 15 views
					//- 						span.vdt14 6 hours ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Ethical Hacking - Most Advanced Level
					//- 						| Penetration Testing
					//- 					a.crse-cate(href='#') IT &amp; Software | Ethical Hacking
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Poonam Verma
					//- 						.prce142 $10
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='#')
					//- 					img(src='../assets/images/courses/img-12.jpg' alt='')
					//- 					.course-overlay
					//- 						.crse_reviews
					//- 							i.uil.uil-star
					//- 							| 3.5
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 28 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 45 views
					//- 						span.vdt14 20 hours ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Advanced CSS and Sass: Flexbox, Grid,
					//- 						| Animations and More!
					//- 					a.crse-cate(href='#') Development | Sass
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Rock William
					//- 						.prce142 $6
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='#')
					//- 					img(src='../assets/images/courses/img-13.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 30 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 20 Views
					//- 						span.vdt14 1 day ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| The Complete Node.js Developer Course (3rd
					//- 						| Edition)
					//- 					a.crse-cate(href='#') Development | Node.js
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') John Doe
					//- 						.prce142 $3
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='#')
					//- 					img(src='../assets/images/courses/img-20.jpg' alt='')
					//- 					.course-overlay
					//- 						.crse_reviews
					//- 							i.uil.uil-star
					//- 							| 5.0
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 21 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 200 Views
					//- 						span.vdt14 4 days ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| WordPress Development - Themes, Plugins &amp;
					//- 						| Gutenberg
					//- 					a.crse-cate(href='#') Design | Wordpress
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Joy Dua
					//- 						.prce142 $14
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
					//- 		.item
					//- 			.fcrse_1.mb-20
					//- 				a.fcrse_img(href='course_detail_view.html')
					//- 					img(src='../assets/images/courses/img-16.jpg' alt='')
					//- 					.course-overlay
					//- 						span.play_btn1
					//- 							i.uil.uil-play
					//- 						.crse_timer
					//- 							| 22 hours
					//- 				.fcrse_content
					//- 					.eps_dots.more_dropdown
					//- 						a(href='#')
					//- 							i.uil.uil-ellipsis-v
					//- 						.dropdown-content
					//- 							span
					//- 								i.uil.uil-share-alt
					//- 								| Share
					//- 							span
					//- 								i.uil.uil-heart
					//- 								| Save
					//- 							span
					//- 								i.uil.uil-ban
					//- 								| Not Interested
					//- 							span
					//- 								i.uil.uil-windsock
					//- 								| Report
					//- 					.vdtodt
					//- 						span.vdt14 11 Views
					//- 						span.vdt14 5 Days ago
					//- 					a.crse14s(href='course_detail_view.html')
					//- 						| Vue JS 2 - The Complete Guide (incl. Vue
					//- 						| Router &amp; Vuex)
					//- 					a.crse-cate(href='#') Development | Vue JS
					//- 					.auth1lnkprce
					//- 						p.cr1fot
					//- 							| By
					//- 							a(href='#') Manreet Kaur
					//- 						.prce142 $10
					//- 						button.shrt-cart-btn(title='cart')
					//- 							i.uil.uil-shopping-cart-alt
				section.section-index.section-index--pt
					.row
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image.mb-2
										i.fas.fa-history.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold.my-0 100,000 online courses
										.card__content--details
											p.text-1.gray.mb-0 lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image.mb-2
										i.fas.fa-user-check.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold.my-0 100,000 online courses
										.card__content--details
											p.text-1.gray.mb-0 lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image.mb-2
										i.fas.fa-video.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold.my-0 100,000 online courses
										.card__content--details
											p.text-1.gray.mb-0 lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
						.col-xl-6.col-lg-12.col-md-6
							.card.card--centered.card--icon
								.card__content
									.user-image.mb-2
										i.far.fa-play-circle.card--user-icon
									.card__body
										.card__content-header
											.user-data
												p.title-h6.semi-bold.my-0 100,000 online courses
										.card__content--details
											p.text-1.gray.mb-0 lorem ipsum dolor sit amet  lorem ipsum dolor sit amet  lorem ipsum dolor sit amet
				section.section-index.section-index--pt
					.d-flex.justify-content-between.align-items-center.w-100
						h3.title-h6.semi-bold  Popular surveys
						a(href="#").text-3.text-3--bolder.gray.mt-0 See all
					.row
						.col-lg-6.col-md-12
							.card
								div(class="content-list-item mb-0" data-data='{"id":1,"type":"article", "enabled": true, "title": "article-title", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.", "thumb":"../../assets/images/exam.png", "url": "#"}')
						.col-lg-6.col-md-12
							.card
								div(class="content-list-item mb-0" data-data='{"id":1,"type":"article", "enabled": true, "title": "article-title", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.", "thumb":"../../assets/images/exam.png", "url": "#"}')
						.col-lg-6.col-md-12
							.card
								div(class="content-list-item mb-0" data-data='{"id":1,"type":"article", "enabled": true, "title": "article-title", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.", "thumb":"../../assets/images/exam.png", "url": "#"}')
						.col-lg-6.col-md-12
							.card
								div(class="content-list-item mb-0" data-data='{"id":1,"type":"article", "enabled": true, "title": "article-title", "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis corporis aliquam voluptas cumque. Aperiam quo dolor ut iste nam a distinctio? Distinctio ad sint aperiam.", "thumb":"../../assets/images/exam.png", "url": "#"}')

				section.section-index.section-index--pt
					.d-flex.justify-content-between.align-items-center.w-100
						h3.title-h6.semi-bold  Popular Instructors
						a(href="#").text-3.text-3--bolder.gray.mt-0 See all
					.section-index.section-index--pt
						.owl-carousel.top_instrutors.owl-theme
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg.mb-0(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg.mb-0(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg.mb-0(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg.mb-0(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-1.mb-0(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg.mb-0(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg.mb-0(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg.mb-0(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg.mb-0(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-1.mb-0(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg.mb-0(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg.mb-0(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg.mb-0(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg.mb-0(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-1.mb-0(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg.mb-0(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg.mb-0(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg.mb-0(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg.mb-0(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-1.mb-0(href="#") Go To Profile
							.item
								.card.card--centered.card--user
									.card__content
										.user-image
											img(src="../../assets/images/profile.png" alt="")
										.card__body
											.card__content-header
												.user-data
													a.text-3.semi-bold(href="#") Jose Portilla
														i.far.fa-check-circle.pl-1
													p.text-3.gray Web Developer, Designer, and Teacher Jose
													ul.social-icon
														li.social-icon__list
															a.social-icon__link.social-icon--fa-bg.mb-0(href="#")
																i.fab.fa-facebook-f
														li.social-icon__list
															a.social-icon__link.social-icon--tw-bg.mb-0(href="#")
																i.fab.fa-twitter
														li.social-icon__list
															a.social-icon__link.social-icon--li-bg.mb-0(href="#")
																i.fab.fa-linkedin-in
														li.social-icon__list
															a.social-icon__link.social-icon--yu-bg.mb-0(href="#")
																i.fab.fa-youtube
													.details
														span.total-students 615K Students
														span.total-course 12 Courses
													a.text-2.profile.mt-1.mb-0(href="#") Go To Profile

			.col-xl-3.col-lg-3
				aside.right_side
					.card.card--centered.card--user
						.card__content
							.user-image
								img(src="../../assets/images/profile.png" alt="")
							.card__body
								.card__content-header
									.user-data
										a.text-3.semi-bold(href="#") Jose Portilla
											i.far.fa-check-circle.pl-1
										p.text-3.gray Web Developer, Designer, and Teacher Jose
										ul.social-icon
											li.social-icon__list
												a.social-icon__link.social-icon--fa-bg.my-0(href="#")
													i.fab.fa-facebook-f
											li.social-icon__list
												a.social-icon__link.social-icon--tw-bg.my-0(href="#")
													i.fab.fa-twitter
											li.social-icon__list
												a.social-icon__link.social-icon--li-bg.my-0(href="#")
													i.fab.fa-linkedin-in
											li.social-icon__list
												a.social-icon__link.social-icon--yu-bg.my-0(href="#")
													i.fab.fa-youtube
										.details
											span.total-students 615K Students
											span.total-course 12 Courses
										a.text-2.profile.mt-3(href="#") Go To Profile
					.card.card--with-title.card--centered.card--live-stream
						.card__title.mb-2
							h5.text-3.semi-bold Live Streaming
						.card__content
							.user-image
								img(src="../../assets/images/profile.png" alt="")
								//- i.far.fa-check-circle.pl-1
							.card__body
								.card__content-header
									.user-data
										p.text-3.gray Set up your channel and stream live to your students
										.card__btn
											button.btn.btn--primary.btn--rounded.semi-bold.my-2  Get Started
								.card__content--details
									p.text-3.gray.my-0 Info : This feature only for 'Instructors'.
					//- section.get1452
					//- 	img(src="../assets/images/get_img.jpg", alt="", srcset="")
					//- 	h4 Get personalized recommendations
					//- 	p Answer a few questions for your top picks
					//- 	button.Get_btn(onclick="window.location.href = '#';") Get Started
					.card.card--with-title.card--top-category
						.card__title.mb-2
							h5.text-3.semi-bold Top Categories
						.card__content
							.card__body
								.card__content--details
									ul.card__list
										li.card__list-item
											a.card__item-link(href="#")
												i.uil.uil-arrow
												| Development
										li.card__list-item
											a.card__item-link(href="#")
												i.uil.uil-graph-bar
												| Business
										li.card__list-item
											a.card__item-link(href="#")
												i.uil.uil-graph-bar
												| IT and Software
										li.card__list-item
											a.card__item-link(href="#")
												i.uil-ruler
												| Design
					.card.card--centered.card--live-stream.card--no-bg
						.card__content
							.card__body
								.card__content-header
									.user-data
										h4.text-2 Become an Instructor
										p.text-3.gray.py-0 Set up your channel and stream live to your students Set up your channel and stream live to your students
										.card__btn
											button(type="submit").btn.btn--primary.btn--rounded.semi-bold.mt-2  Get Started
			.col-xl-12.col-lg-12
				section.section-.mb-5
					.d-flex.flex-column.my-2
						.d-flex.justify-content-between.align-items-center.w-100
							h3.title-h6.title-h6--bolder.semi-bold What Our Student Have Today
					.la5lo1
						.owl-carousel.Student_says.owl-theme
							.item
								.card.card--side-col.card__testimonial
									.card__side-col
										img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
									.card__content
										.card__header
											.card__header-multiline
												a(href='#' class="bold")
													| Jose Portilla
													i.fa.fa-check-circle.ml-1
												time.subtitle-2.gray Jan 15 &apos;18 at 13:56
												//- .rate-display(data-rate="5")
											//- .card__tools
											//- 	+dropdown
											//- 		i.fas.fa-ellipsis-h
										p.text-3.mb-0
											| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
											| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?
							.item
								.card.card--side-col.card__testimonial
									.card__side-col
										img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
									.card__content
										.card__header
											.card__header-multiline
												a(href='#' class="bold")
													| Jose Portilla
													i.fa.fa-check-circle.ml-1
												time.subtitle-2.gray Jan 15 &apos;18 at 13:56
												//- .rate-display(data-rate="5")
											//- .card__tools
											//- 	+dropdown
											//- 		i.fas.fa-ellipsis-h
										p.text-3.mb-0
											| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
											| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?
							.item
								.card.card--side-col.card__testimonial
									.card__side-col
										img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
									.card__content
										.card__header
											.card__header-multiline
												a(href='#' class="bold")
													| Jose Portilla
													i.fa.fa-check-circle.ml-1
												time.subtitle-2.gray Jan 15 &apos;18 at 13:56
												//- .rate-display(data-rate="5")
											//- .card__tools
											//- 	+dropdown
											//- 		i.fas.fa-ellipsis-h
										p.text-3.mb-0
											| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
											| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?
							.item
								.card.card--side-col.card__testimonial
									.card__side-col
										img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
									.card__content
										.card__header
											.card__header-multiline
												a(href='#' class="bold")
													| Jose Portilla
													i.fa.fa-check-circle.ml-1
												time.subtitle-2.gray Jan 15 &apos;18 at 13:56
												//- .rate-display(data-rate="5")
											//- .card__tools
											//- 	+dropdown
											//- 		i.fas.fa-ellipsis-h
										p.text-3.mb-0
											| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
											| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?
							.item
								.card.card--side-col.card__testimonial
									.card__side-col
										img(src="../../assets/images/profile.png" alt="" class="image image--rounded image--profile")
									.card__content
										.card__header
											.card__header-multiline
												a(href='#' class="bold")
													| Jose Portilla
													i.fa.fa-check-circle.ml-1
												time.subtitle-2.gray Jan 15 &apos;18 at 13:56
												//- .rate-display(data-rate="5")
											//- .card__tools
											//- 	+dropdown
											//- 		i.fas.fa-ellipsis-h
										p.text-3.mb-0
											| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
											| sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?
