section.video
	a.video__link-img(href='#' data-toggle='modal' data-target='#videoModal')
		img.link-img__img(src='../../assets/images/courses/img-2.jpg' alt='')
		.link-img__overlay
			.overlay__seller Bestseller
			span.overlay__play
				i.fas.fa-play.play__icon 
			span.overlay__title Preview this course
