.collapse__item
  .collapse__group
    .ui.checkbox.collapse__checkbox
      input.hidden.collapse__input(type='checkbox' tabindex='0')
      label.collapse__rating
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        | 5.0 & up
        span.filter-rating__counter
          | (5000)
    .ui.checkbox.collapse__checkbox
      input.hidden.collapse__input(type='checkbox' tabindex='0')
      label.collapse__rating
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        | 4.0 & up
        span.filter-rating__counter
          | (2500)
    .ui.checkbox.collapse__checkbox
      input.hidden.collapse__input(type='checkbox' tabindex='0')
      label.collapse__rating
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        | 3.0 & up
        span.filter-rating__counter
          | (1000)
    .ui.checkbox.collapse__checkbox
      input.hidden.collapse__input(type='checkbox' tabindex='0')
      label.collapse__rating
        i.uil.uil-star.filter-rating__star
        i.uil.uil-star.filter-rating__star
        | 2.0 & up
        span.filter-rating__counter
          | (500)


