.collapse__item
	.collapse__group
		.collapse__checkbox
			.collapse-item__field
				.ui.checkbox.collapse__checkbox
					input.hidden.collapse__input(type='checkbox' tabindex='0')
					label.collapse__title
						| SEO
						span.collapse__counter  (428)
