.pagination 
	button.btn.btn--text.btn--primary.icon--hover(href='#' aria-label='Previous')
		i.fas.fa-chevron-left.pagination-icon
	button.btn.btn--text.btn--primary.icon--hover.text-1(href='#') 1
	button.btn.btn--text.btn--primary.icon--hover.text-1(href='#') 2
	button.btn.btn--text.btn--primary.icon--hover.text-1(href='#') 3
	button.btn.btn--text.btn--primary.icon--hover.text-1(href='#') ...
	button.btn.btn--text.btn--primary.icon--hover(href='#' aria-label='Next')
		i.fas.fa-chevron-right.pagination-icon
