.table-responsive
  table.table
    thead
      tr
        th Item No.
        th.main-cell Title
        th Publish Date
        th Sales
        th Parts
        th Category
        th Status
        th Action
    tbody
      tr
        td IT-001
        td.main-cell Course Title Here
        td 06 April 2020 | 08:31
        td 15
        td 5
        td
          a( href="#") Web Development
        td Active
        td
          a.icon(href="#" title="Edit")
            i.far.fa-edit
          a.icon(href="#" title="Delete")
            i.far.fa-trash-alt
      tr
        td IT-002
        td.main-cell Course Title Here
        td 05 April 2020 | 05:15
        td 30
        td 3
        td
          a(href="#") Graphic Design
        td Active
        td
          a.icon(href="#" title="Edit")
            i.far.fa-edit
          a.icon(href="#" title="Delete")
            i.far.fa-trash-alt
      tr
        td IT-003
        td.main-cell Course Title Here
        td 03 April 2020 | 01:30
        td 14
        td 5
        td
          a( href="#") Bootstrap
        td Active
        td
          a.icon(href="#" title="Edit")
            i.far.fa-edit
          a.icon(href="#" title="Delete")
            i.far.fa-trash-alt
      tr
        td IT-004
        td.main-cell Course Title Here
        td 02 April 2020 | 05:15
        td 110
        td 9
        td
          a(href="#") Game Development
        td Active
        td
          a.icon(href="#" title="Edit")
            i.far.fa-edit
          a.icon(href="#" title="Delete")
            i.far.fa-trash-alt
      tr
        td IT-002
        td.main-cell Course Title Here
        td 28 March 2020 | 05:15
        td 185
        td 10
        td
          a(href="#") C++
        td Active
        td
          a.icon(href="#" title="Edit")
            i.far.fa-edit
          a.icon(href="#" title="Delete")
            i.far.fa-trash-alt
