button#toggleMenu.toggle-menu.toggle(type='button')
  i.fas.fa-bars.toggle__icon  
//- button.toggle-menu
//-   i.fas.fa-bars.toggle-menu__icon
//-   span.toggle-menu--label
//- button#toggleMenu.toggle-menu--responsive(type='button')
//-   i.fas.fa-bars.toggle-menu__icon
