//- Master layout

doctype html
html(lang='en' dir="" class="")
	head
		//- Stylesheets
		link(href='../assets/vendor/semantic/semantic.min.css' rel='stylesheet' type='text/css' )
		//- link(href='../assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet' type='text/css')
		link(href='../assets/vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
		link(rel="icon" href="../../assets/images/Etqadem_Icon.png")
		//- link(href='../assets/vendor/bootstrap/css/bootstrap-grid.min.css' rel='stylesheet')
		//- link(href='../assets/vendor/OwlCarousel/assets/owl.carousel.css' rel='stylesheet')
		//- link(href='../assets/vendors/select2.min.css')
		//- link(href='../assets/vendor/OwlCarousel/assets/owl.theme.default.min.css' rel='stylesheet')
		link(href='../assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
		link(href='../assets/vendor/select2.min.css' rel='stylesheet')
		meta(name="viewport" content="width=device-width, shrink-to-fit=9")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js")



		//- script(src="https://unpkg.com/imask")

		//- Title
		block title
			title Login
		//- script(src='../assets/scripts/select2.min.js')

	body
		div.wrapper
			.page-content.page-content--auth
				img.auth__bg(src="../../assets/images/sign.svg", alt="")
				div.container
					div.row.justify-content-lg-center.justify-content-md-center
						.col-lg-12
							div.header-title
								a.my-0(href='index.html')
									img(src='../../assets/images/Etqadem_Icon_Yellow.png' alt='')
								h1.title-1 Itqadem 
								//- a(href='index.html')
								//-   img.logo-inverse(src='../../assets/images/sign_logo.png' alt='')
						div.col-lg-6.col-md-12
							.wrapper-content
								block content
						.footer.footer--auth
							| &copy; 2020
							strong  Advance
							|. All Rights Reserved.




		block scripts
		//- script(src='../assets/scripts/jquery-3.3.1.min.js')
		//- script(src='../assets/scripts/vertical-responsive-menu.min.js')
		//- script(src='../assets/styles/vendor/bootstrap/js/bootstrap.bundle.min.js')
		//- script(src='../assets/styles/vendor/OwlCarousel/owl.carousel.js')
		//- script(src='../assets/styles/vendor/semantic/semantic.min.js')
		//- script(s    object-fit: cover;
