//- Master layout

doctype html

html(lang='en' dir="ltr" class="night-mode")
	head
		link(href='../assets/vendor/semantic/semantic.min.css' rel='stylesheet' type='text/css' )
		link(href='../assets/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet' type='text/css')
		link(href='../assets/vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
		link(rel="icon" href="../../assets/images/Etqadem_Icon.png")
		link(href='../assets/vendor/bootstrap/css/bootstrap-grid.min.css' rel='stylesheet')
		link(href='../assets/vendor/OwlCarousel/assets/owl.carousel.css' rel='stylesheet')
		link(href='../assets/vendor/OwlCarousel/assets/owl.theme.default.min.css' rel='stylesheet')
		link(href='../assets/vendor/select2.min.css' rel='stylesheet')
		<script src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js'></script>
		
		meta(name="viewport" content="width=device-width, shrink-to-fit=9")

		//- Title
		block title
			title Your project!

	body
		div.wrapper 
			//- Menu
			include ../components/header-player.pug
				//- +menu('home')
			//- mixin layoutPlayer(classContent)
			//- .page-content(class=classContent) 
			 
			block content
				//- Footer

				//- block scripts
		block scripts


		//- script(src='../assets/scripts/jquery-3.3.1.min.js')
		//- script(src='../assets/scripts/vertical-responsive-menu.min.js')
		//- script(src='../assets/styles/vendor/bootstrap/js/bootstrap.bundle.min.js')
		//- script(src='../assets/styles/vendor/OwlCarousel/owl.carousel.js')
		//- script(src='../assets/styles/vendor/semantic/semantic.min.js')
		//- script(src='../assets/scripts/custom.js')
		//- script(src='../assets/scripts/night-mode.js')
