.card-collapse
	.card-collapse__header
		p test 
		p test
		<i class="fas fa-chevron-down"></i>
	.card-collapse__content
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda tempore aliquam, voluptas, autem, commodi aspernatur sint similique odit quisquam porro inventore soluta quasi iure maxime! Beatae eligendi nihil impedit architecto!
		