.card
	//-.card__header--collapse 
	.card__header
		h4.card__title title
		.card__collapse--toggle
			i.fa.fa-chevron-down
	.card__content#cardContent
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptatem aliquid esse distinctio error impedit provident quos voluptatibus cum nemo labore voluptates, officiis sequi quasi rem et eligendi obcaecati illo!
		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, excepturi, commodi, molestiae rem animi a enim dolorem libero qui totam nulla fugit veritatis optio iusto voluptatem doloribus illo! Iusto, tenetur.
		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, excepturi, commodi, molestiae rem animi a enim dolorem libero qui totam nulla fugit veritatis optio 
		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, excepturi, commodi, molestiae rem animi a enim dolorem libero qui totam nulla fugit veritatis optio 

	.card__actions
		include ../components/general-component/btn.pug
		+btn-input('btn1542 mt-4 ml-auto', 'submit', 'submit')
		+btn-input('btn1542 mt-4 mx-1 ml-auto', 'submit', 'submit') 
		+btn-link('cancel', 'cancel' , '#create_new_course.html')
