ul.sub__menu
  li.menu__list
    .list__wrapper
      i.uil.uil-play-circle.content-name__icon.link__icon
      a.list--link(href="#")
        | Development
    span.menu-time  00:12
  li.menu__list
    .list__wrapper
      i.uil.uil-file.content-name__icon.link__icon
      a.list--link(href="#")
        | Business


