header.header
	.container
		.header--exams
			button.btn.btn--text.btn--hover-line back to exams
			.header__logo
				a(href="#").header__img 
					img(src="../../assets/images/Etqadem_Logo.svg", alt="")
			img.image.image--small-profile.image--rounded(src="../../assets/images/hd_dp.jpg", alt="")

	