.filter-heading__filter-title
  a.collapsed(data-toggle='collapse' data-target='#collapseOne' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
    |Topic 
#collapseOne.panel-collapse.collapse(aria-labelledby='headingOne' data-parent='#accordionfilter')
  .filter-heading__filter-body
    .ui.form
      .grouped.fields
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck
              input(type='checkbox' tabindex="0" class="hidden" id="filter-1") 
              label(for="filter-1") SEO
                span.filter__counter (428)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-2") 
              label(for="filter-2") Php
                span.filter__counter (1526)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-3") 
              label(for="filter-3") Wordpress
                span.filter__counter (428)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-4") 
              label(for="filter-4") WooCommerce
                span.filter__counter (958)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-5") 
              label(for="filter-5") Bootstrap
                span.filter__counter (748)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-6") 
              label(for="filter-6") Web Development
                span.filter__counter (2256)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-7") 
              label(for="filter-7") Web Design
                span.filter__counter (4859)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-8") 
              label(for="filter-8") Digital Marketing
                span.filter__counter (2458)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-9") 
              label(for="filter-9") E-commerce
                span.filter__counter (1245)
        .ui.form.checkbox_sign
          .inline.field   
            .ui.checkbox.mncheck 
              input(type='checkbox' tabindex="0" class="hidden" id="filter-10") 
              label(for="filter-10") Elementor
                span.filter__counter (3658)        
            