footer.footer.footer--admin
  img.footer__background(src="../../../assets/images/Pattern_4.svg", alt="", srcset="")
  .container
    .row
      .col-lg-12
        .footer-line
          .row.align-items-center
            .col-md-6.col-sm-12.col-xs-12
              ul.copy-right
                li.copy-right__list
                  a.list__link(href='index.html')
                    .footer-logo
                      img(src='../../assets/images/Etqadem_Icon_Yellow.svg' alt='')
                li.copy-right__list
                  p.list__paragraph
                    | &copy; 2020
                    strong Itqadem
                    | . All Rights Reserved.

            .col-md-6
              .fritill
                p.list__paragraph.white.my-0.text-3 Developed and designed by
                a.my-0(style="height: 40px" href="https://fritill.com/")
                  img(class="fritill-logo" src="../../assets/images/fritill-logo.svg", alt="")
