.general-wrapper
	.general-wrapper__header
		h3 general details
		.general-actions
			a(href="/"): i.far.fa-edit(aria-hidden="true")
			a(href="/"): i.far.fa-trash-alt(aria-hidden="true")
	.general-wrapper__content
		block details