header.header.header--dark
  a.header-dark__logo(href='index.html')
    img(src='../../assets/images/Etqadem_Logo.svg' alt='')  
  a.header-dark__img-sm(href='index.html')
    img(src='../../assets/images/Etqadem_Icon_Yellow.svg' alt='')
  a.header-dark__courses(href="single-course.html")
    span.courses__name CSS In-Depth
  a.header-dark__course-name.left-open
    span.course-name__title Linguistic Pseudo
//- .d-flex.justify-content-between.w-100
//-   a.header-player__previous(href="single-course.html")
//-     span.courses__name CSS In-Depth
//-   a.header-player__next
//-     span.course-name__title Linguistic Pseudo Classes
//- header.header.header--player 
//- 	a.header-player__logo(href='index.html')
//- 		img(src='../../assets/images/Etqadem_Logo.svg' alt='' class="logo__img")  
//- 	a.header-player__img-small(href='index.html')
//- 		img.logo__img(src='../../assets/images/Etqadem_Icon_Yellow.svg' alt='')
//- 	a.header-player__courses(href="single-course.html")
//- 		span.courses__name CSS In-Depth
//- 	a.header-player__course-name
//- 		span.course-name__title Linguistic Pseudo
//- .d-flex.justify-content-between.w-100
//-   a.header-player__previous(href="single-course.html")
//-     span.courses__name CSS In-Depth
//-   a.header-player__next
//-     span.course-name__title Linguistic Pseudo Classes
