.instructor-card
  .instructor-card__profile-photo
    a(href="my_instructor_profile_view.html")
      img(src="images/left-imgs/img-10.jpg")
  .instructor-card__instructor-content
    .instructor-content__name
      a.name__link(href="my_instructor_profile_view.html") Joginder Singh
      .name__icon(title="Verify")
        i.uil.uil-check-circle
    .instructor-content__discription Web Developer, Designer, and Teacher
    ul.instructor-content_social-links
      li 
        a.fb(href="#")
          i.fab--fa-facebook-f
      li 
        a.tw(href="#")
          i.fab--fa-twitter-
      li 
        a.ln(href="#")
          i.fab--fa-linkedin-in
      li 
        a.yu(href="#")
          i.fab--fa-youtube
    .instructor-content__details
      span.details__view
      |615K Students
      span.details__view
      |12 Courses
    a.instructor-content__profile-link(href="my_instructor_profile_view.html") Go To Profile