.media-card
	.media-card__image
		img(src='http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg' alt='')
		.more-dropdown.more-dropdown--absolute
			button.ad-btn.ad-btn--hover-dropdown
				i.fas.fa-ellipsis-v.more-dropdown__icon
			.more-dropdown__content
				span.content__item
					i.item__icon.uil.uil-comment-alt-edit
					| Edit
				span.content__item
					i.item__icon.uil.uil-trash-alt
					| Delete
	.ad-card.ad-card--with-actions.m-0
		.ad-card__content.p-2
			.ad-card__body
				.ad-card__content--details
					p.text-1 Lorem ipsum dolor sit amet consectetur adipisicing elit.



	//- .ad-card__body
	//- 	.ad-card__content-header
	//- 		.user-data
	//- 			a(href="#" class="text-2") asd
	//- 		.more-dropdown
	//- 			a.more-dropdown__link(href="#")
	//- 				i.uil.uil-ellipsis-v
	//- 			.more-dropdown__content
	//- 				span.content__item
	//- 					i.item__icon.uil.uil-comment-alt-edit
	//- 					| Edit
	//- 				span.content__item
	//- 					i.item__icon.uil.uil-trash-alt
	//- 					| Delete




