.card-list
  .card__content
    .list.condensed
      a(href="#" class="list-item list-item--one-line") 
        .list-item__content
          span(class="body-2 btn--default btn--ripple") Photography 
        .list-item__action
      a(href="#" class="list-item list-item--one-line")
        .list-item__content
          span.body-2 Development
        .list-item__action
      a(class="list-item list-item--one-line list-item-date")
        .list-item__content
          span.body-2 Lorem ipsum 
        .list-item__action 
          i.fas.fa-chevron-right.arrow-right 
      a(href="#" class="list-item list-item--one-line")
        .list-item__content
          span.body-2 Office Productivity
        .list-item__action
      a(class="list-item list-item--one-line list-item-date")
        .list-item__content
          span.body-2 Lorem ipsum 
        .list-item__action 
          i.fas.fa-chevron-right.arrow-right
      a(href="#" class="list-item list-item--one-line")
        .list-item__content
          span.body-2 Office Productivity
        .list-item__action
      a(href="#" class="list-item list-item--one-line")
        .list-item__content
          span.body-2 Development
        .list-item__action
      .divider
//- .card-list
//-   .card__content
//-     .list.condensed
//-       a(href="#" class="list-item list-item--one-line") 
//-         .list-item__content
//-           span.body-2.bold Photography 
//-         .list-item__action
//-       a(href="#" class="list-item list-item--one-line")
//-         .list-item__content
//-           span.body-2.bold Development
//-         .list-item__action
//-       a(href="#" class="list-item list-item--one-line")
//-         .list-item__content
//-           span.body-2.bold Lorem ipsum
//-         .list-item__action
//-       a(href="#" class="list-item list-item--one-line list-item--border-bottom")
//-         .list-item__content
//-           span.body-2.bold Personal Development
//-         .list-item__action
//-       a.list-item.list-item-date
//-         .list-item__content
//-           span.body-2.bold Lorem ipsum
//-         .list-item__action 
//-           i.fas.fa-chevron-right.arrow-right
//-       a(href="#" class="list-item list-item--one-line")
//-         .list-item__content
//-           span.body-2.bold Office Productivity
//-         .list-item__action
//- .menu__content
//-   .menu__title 
//-     h6.title-h6.bold Goals
//-   ul.menu__dropdown
//-     li.menu__list.sub-menu--item
//-       a.menu__item(href='#') Development
//-     li.menu__list
//-       a.menu__item(href='#') Office Productivity
//-     li.menu__list.sub-menu--item
//-       a.menu__item(href='#') Personal Development
//-     li.menu__list
//-       a.menu__item(href='#') Photography  
//-   .menu__title 
//-     h6.title-h6.bold category
//-   ul.menu__dropdown
//-     li.menu__list.sub-menu--item
//-       a.menu__item(href='#') Development
//-     li.menu__list
//-       a.menu__item(href='#') Office Productivity
//-     li.menu__list.sub-menu--item
//-       a.menu__item(href='#') Personal Development
//-     li.menu__list
//-       a.menu__item(href='#') Photography 
  //- a(class="btn btn--primary" href="#") Enter
.menu__date
  ul.menu__dropdown
    li.menu__list.sub-menu--item.close
      a(href="#").menu__item Back 
  .img-wrapper
    img(src="../assets/images/get_img.jpg", alt="")
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, deleniti! Earum cum mollitia rerum, neque ullam aliquam, sit hic ex minima animi provident? Dolores numquam libero fuga, magnam necessitatibus corporis?