.owl-carousel.slider.related_courses.owl-theme
	.item
		include ../components/course-card.pug
		+course-card
	.item
		+course-card
	.item
		+course-card
	.item
		+course-card
	.item
		+course-card
	.item
		+course-card
	.item
		+course-card