.card.card--side-col.card--transparent
  .card__side-col
    img(src="../../assets/images/hd_dp.jpg" alt="" class="image image--rounded image--profile")
  .card__content.replacable
    .card__header
      .card__header-multiline
        a(href='#' class="primary bold")
          | Jose Portilla
          i.fa.fa-check-circle.ml-1
        time.subtitle-2.gray Jan 15 &apos;18 at 13:56
        .rate-display(data-rate="5")
      .card__tools
        .more-dropdown
          a.more-dropdown__link
            i.fas.fa-ellipsis-h
          .more-dropdown__content
            span(data-target="#update-review-form" class="content__item replacer")
              i.item__icon.fa.fa-edit
              | Edit
            span.content__item
              i(class="item__icon fa fa-trash")
              | Delete
    p.text-2
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
      | sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?

.card.card--side-col.card--transparent
  .card__side-col
    img(src="../../assets/images/hd_dp.jpg" alt="" class="image image--rounded image--profile")
  .card__content.replacable
    .card__header
      .card__header-multiline
        a(href='#' class="primary bold")
          | Jose Portilla
          i.fa.fa-check-circle.ml-1
        time.subtitle-2.gray Jan 15 &apos;18 at 13:56
        .rate-display(data-rate="5")
      .card__tools
        .card__tools
          .more-dropdown
            a.more-dropdown__link
              i.fas.fa-ellipsis-h
            .more-dropdown__content
              span(data-target="#update-review-form" class="content__item replacer")
                i.item__icon.fa.fa-edit
                | Edit
              span.content__item
                i(class="item__icon fa fa-trash")
                | Delete
    p.text-2
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
      | sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?

.card.card--side-col.card--transparent
  .card__side-col
    img(src="../../assets/images/hd_dp.jpg" alt="" class="image image--rounded image--profile")
  .card__content.replacable
    .card__header
      .card__header-multiline
        a(href='#' class="primary bold")
          | Jose Portilla
          i.fa.fa-check-circle.ml-1
        time.subtitle-2.gray Jan 15 &apos;18 at 13:56
        .rate-display(data-rate="5")
      .card__tools
        .card__tools
          .more-dropdown
            a.more-dropdown__link
              i.fas.fa-ellipsis-h
            .more-dropdown__content
              span(data-target="#update-review-form" class="content__item replacer")
                i.item__icon.fa.fa-edit
                | Edit
              span.content__item
                i(class="item__icon fa fa-trash")
                | Delete
    p.text-2
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam sed similique quos illo nam
      | sint aut laudantium enim iste quod ad obcaecati error quisquam sequi eos, culpa, neque officiis modi?
