//- nav.vertical_nav
//-   #js-menu.left_section.menu_left
//-     .left_section
//-       ul
//-         li.menu--item
//-           a.menu--link.active(href='instructor_dashboard.html' title='Dashboard')
//-             i.uil.uil-apps.menu--icon
//-             span.menu--label Dashboard
//-         li.menu--item
//-           a.menu--link(href='instructor_courses.html' title='Courses')
//-             i.uil.uil-book-alt.menu--icon
//-             span.menu--label Courses
//-         li.menu--item
//-           a.menu--link(href='instructor_analyics.html' title='Analyics')
//-             i.uil.uil-analysis.menu--icon
//-             span.menu--label Analyics
//-         li.menu--item
//-           a.menu--link(href='create_new_course.html' title='Create Course')
//-             i.uil.uil-plus-circle.menu--icon
//-             span.menu--label Create Course
//-         li.menu--item
//-           a.menu--link(href='instructor_messages.html' title='Messages')
//-             i.uil.uil-comments.menu--icon
//-             span.menu--label Messages
//-         li.menu--item
//-           a.menu--link(href='instructor_notifications.html' title='Notifications')
//-             i.uil.uil-bell.menu--icon
//-             span.menu--label Notifications
//-         li.menu--item
//-           a.menu--link(href='instructor_my_certificates.html' title='My Certificates')
//-             i.uil.uil-award.menu--icon
//-             span.menu--label My Certificates
//-         li.menu--item
//-           a.menu--link(href='instructor_all_reviews.html' title='Reviews')
//-             i.uil.uil-star.menu--icon
//-             span.menu--label Reviews
//-         li.menu--item
//-           a.menu--link(href='instructor_earning.html' title='Earning')
//-             i.uil.uil-dollar-sign.menu--icon
//-             span.menu--label Earning
//-         li.menu--item
//-           a.menu--link(href='instructor_payout.html' title='Payout')
//-             i.uil.uil-wallet.menu--icon
//-             span.menu--label Payout
//-         li.menu--item
//-           a.menu--link(href='instructor_statements.html' title='Statements')
//-             i.uil.uil-file-alt.menu--icon
//-             span.menu--label Statements
//-         li.menu--item
//-           a.menu--link(href='instructor_verification.html' title='Verification')
//-             i.uil.uil-check-circle.menu--icon
//-             span.menu--label Verification
//-     .left_section.pt-2
//-       ul
//-         li.menu--item
//-           a.menu--link(href='setting.html' title='Setting')
//-             i.uil.uil-cog.menu--icon
//-             span.menu--label Setting
//-         li.menu--item
//-           a.menu--link(href='feedback.html' title='Send Feedback')
//-             i.uil.uil-comment-alt-exclamation.menu--icon
//-             span.menu--label Send Feedback