//- .playlist__header-section
//- header.header--dark
.playlist-canvas
  //- .percent
  //-   p(style="display:none;") 40%
  .canvas-wrap
    .semi-circle
    span#percentage 30
  .playlist__list-item.list-item--border-bottom.p-1
.card__content
  .list 
    //- h5.title-h5 List Title
    //- .divider
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        //- i.fas.fa-user
        //- img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
        i.fas.fa-book
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com
      .list-item__action 
        //- div
          input(class="field" type="checkbox" id="checkbox-11" name="checkname")
          label(for="checkbox-11")
    //- .divider
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        //- i.fas.fa-user
        i.fas.fa-book
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com
      .list-item__action 
        //- div
          input(class="field" type="checkbox" id="checkbox-1" name="checkname")
          label(for="checkbox-1")
    //- .divider
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        i.fas.fa-user
        //- img(class="image image--small-profile image--rounded" src="../../assets/images/hd_dp.jpg", alt="avatar")
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com
      .list-item__action 
        //- div
          input(class="field" type="checkbox" id="checkbox-10" name="checkname")
          label(for="checkbox-10")
    //- .divider
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        //- i.fas.fa-user
        i.fas.fa-book
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com
      .list-item__action 
        //- div
          input(class="field" type="checkbox" id="checkbox-15" name="checkname")
          label(for="checkbox-15")

