.content
  form.form-question
    .form-question__question-form
      h2.title-h2 Lorem ipsum dolor
      p.text-2 amet consectetur adipisicing elit.
    .form-question__wrap
      .wrap__form-group
        input.form-group__input(id="survey-1" value="radio-1" type="checkbox" name="survey")
        label.form-group__label(for="survey-1") lorem
      .wrap__form-group
        input.form-group__input(id="survey-2" value="radio-2" type="checkbox" name="survey")
        label.form-group__label(for="survey-2") lorem
      .wrap__form-group
        input.form-group__input(id="survey-3" value="radio-3" type="checkbox" name="survey")
        label.form-group__label(for="survey-3") lorem
    .form-question__direction-form
      button.btn.btn--primary.btn--with-icon.btn--ripple.hover.btn-left
        i.fas.fa-arrow-left
        | primary
      button.btn.btn--primary.btn--with-icon.btn--ripple.hover.btn-right
        i.fas.fa-arrow-right
        | primary