.toolbar  
  button(class="btn btn--default icon--hover btn--sm btn--ripple btn--icon") 
    i.fas.fa-plus-circle 
  button(class="btn btn--default icon--hover btn--sm btn--ripple btn--icon") 
    i.fas.fa-file-import
  button(class="btn btn--default icon--hover btn--sm btn--ripple btn--icon") 
    i.fas.fa-heading
  button(class="btn btn--default icon--hover btn--sm btn--ripple btn--icon") 
    i.far.fa-image
  button(class="btn btn--default icon--hover btn--sm btn--ripple btn--icon") 
    i.fas.fa-video
  