.video-item-loader
  .video-item-loader__header
    .img
    .details
      span.name
      span.about

.video-item-loader.icon-loader
  .video-item-loader__header
    .img
    .details
      span.name